page-valor-critico {

    .valor-critico-content {
        background-color: #eee;
        height: 80px;
        text-align: right;
        padding-top: 3px;
        
        h1 {
            font-size: 40px;
        }
    }
    .form-content {
        padding: 15px;
        padding-top: 70px;
    }
}
