page-categorias {
    .col-left {
        text-align: left;

        button {
            border: 0px;
        }
    }

    .col-right {
        text-align: right;

        button {
            border: 0px;
        }
    }
}
